@import url("https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@200;300;400;500;600;700;800&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;700&family=Inconsolata:wght@300;400;500;600;700;800&family=Inter:wght@200;300;400;500;600;700&family=Lora:wght@400;500;600&family=Mada:wght@200;300;400;500;600;700;900&family=Merriweather:wght@300;400;700;900&family=Oswald:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: icomoon;
  src: url(icomoon.woff);
}
:root {
  --brand-h:184;
  --brand-s:33%;
  --brand-l:48%;
  --brand: hsl(var(--brand-h),var(--brand-s), var(--brand-l));
  --brand-dark: var(--brand80);
  --brand-complement: hsl(calc(var(--brand-h) / 2),var(--brand-s),var(--brand-l));
  --brand-complement-dark: hsl(calc(var(--brand-h) / 2),var(--brand-s),calc(var(--brand-l) - 15%));
  --brand-complement-contrast-text:hsl(calc(var(--brand-h) / 2),var(--brand-s),calc(var(--brand-l) + 52%));
  --brand-contrast-text: var(--brand10);
  --border-color: #eee;
  --hover-background-color: var(--brand10);
  --subtitle: #202330;
  --text: #202330;
  --caption: #767676;
  --overline: var(--brand);
  --link: #234e9c;
  --border-radius: 2px;
  --box-shadow: 0 0 12px rgba(100, 100, 100, .15);
  --card-background:#fff;
  --profile-image-radius: 4px;
  --theme-font: "Assistant";
  --header-background-color:var(--brand);
  --header-text-color: var(--brand05);
  --footer-background-color:var(--brand-complement);
  --footer-text-color: var(--brand-complement-contrast-text);
  --brand05: hsl(var(--brand-h),var(--brand-s),calc(var(--brand-l) + 52%));
  --brand10: hsl(var(--brand-h),var(--brand-s),calc(var(--brand-l) + 50%));
  --brand20: hsl(var(--brand-h),var(--brand-s),calc(var(--brand-l) + 45%));
  --brand40: hsl(var(--brand-h),var(--brand-s),calc(var(--brand-l) + 35%));
  --brand80: hsl(var(--brand-h),var(--brand-s),calc(var(--brand-l) - 15%));
}

body {
  font-family: var(--theme-font);
  background: var(--brand05);
  color: #202330;
  line-height: 1.5;
}

.color-example__color {
  height: 20px;
  width: 200px;
}
.color-example .c10 {
  background-color: hsl(var(--brand-h), var(--brand-s), 10%);
}
.color-example .c20 {
  background-color: hsl(var(--brand-h), var(--brand-s), 20%);
}
.color-example .c30 {
  background-color: hsl(var(--brand-h), var(--brand-s), 30%);
}
.color-example .c40 {
  background-color: hsl(var(--brand-h), var(--brand-s), 40%);
}
.color-example .c50 {
  background-color: hsl(var(--brand-h), var(--brand-s), 50%);
}
.color-example .c60 {
  background-color: hsl(var(--brand-h), var(--brand-s), 60%);
}
.color-example .c70 {
  background-color: hsl(var(--brand-h), var(--brand-s), 70%);
}
.color-example .c80 {
  background-color: hsl(var(--brand-h), var(--brand-s), 80%);
}
.color-example .c90 {
  background-color: hsl(var(--brand-h), var(--brand-s), 95%);
}
.color-example .c100 {
  background-color: hsl(var(--brand-h), var(--brand-s), 97%);
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 1.5em 2em;
  background-color: var(--header-background-color);
  align-items: center;
}
header p {
  color: var(--header-text-color);
  font-size: 1.5em;
  letter-spacing: -0.05em;
  font-weight: 500;
  font-family: var(--theme-font);
  text-transform: uppercase;
  padding-right: 1em;
}
header nav a {
  display: inline-block;
  color: var(--header-text-color);
  padding: 8px;
  margin-left: 1em;
}
header nav a.active {
  border-bottom: 2px solid var(--header-text-color);
}
header nav a:hover {
  background-color: var(--hover-background-color);
  color: var(--brand);
  text-decoration: none;
}
header .tools {
  color: var(--header-text-color);
  margin-left: 4em;
}
header .tools .icon {
  font-family: "icomoon";
  font-size: 24px;
  margin-left: 1em;
  color: var(--header-text-color);
}
header .personal-menu {
  color: var(--header-text-color);
  margin-left: 2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
header .personal-menu .name {
  text-align: right;
  line-height: 1.2;
  font-size: 0.875em;
}
header .personal-menu span {
  font-family: icomoon;
  font-size: 0.75em;
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 2em;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link);
}

main {
  width: 70%;
  padding: 4em;
  display: flex;
  gap: 3em;
}

.col-2 {
  width: 1000px;
}

aside {
  width: 300px;
  background-color: #f9f8f7;
  padding: 4em;
}

.card {
  border-radius: var(--border-radius);
  background: var(--card-background);
  box-shadow: var(--box-shadow);
  margin-bottom: 2em;
  width: 450px;
  padding-bottom: 1em;
  padding-top: 1em;
}
.card__header {
  padding: 0.5em 2em;
}
.card.card-post {
  padding-top: 0;
  padding-bottom: 0;
  width: 550px;
}
.card.card-post .list-text {
  margin: 0 2em 0.5em 2em;
}
.card.card-news {
  padding: 0;
}
.card.card-news img {
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.card.card-news .card-body {
  padding: 2em;
  padding-top: 0.75em;
}

.card-popover {
  width: 375px;
  border-top: 4px solid var(--brand);
  position: relative;
}
.card-popover p.list-overline {
  margin: 0 2rem;
}
.card-popover::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 48%;
  width: 0;
  height: 0;
  display: block;
  border: 12px solid var(--brand);
  z-index: -999;
  transform: rotate(45deg);
  border-radius: 4px;
}

.muted {
  opacity: 0.65;
}

ul.listing a {
  text-decoration: none;
}
ul.listing li {
  list-style-type: none;
}
ul.listing li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
ul.listing li article {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  padding: 1.5em 2em;
}
ul.listing li article:hover {
  background-color: var(--hover-background-color);
  transition: background-color 0.3s;
}
ul.listing.feed {
  margin-bottom: 1em;
}
ul.listing.feed li {
  display: flex;
  gap: 1em;
  padding: 2em 2em 0;
}
ul.listing.contacts {
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
ul.listing.contacts li {
  border-radius: var(--border-radius);
  background: var(--card-background);
  box-shadow: var(--box-shadow);
  width: 20%;
  flex-grow: 1;
  padding: 2em;
  border: none;
}
ul.listing.contacts li__header {
  padding: 0.5em 2em;
}
ul.listing.contacts li img {
  margin-bottom: 0.5em;
}
ul.listing.calendar article {
  padding: 1em 2em;
}
ul.listing.calendar article:hover {
  background-color: transparent;
}
ul.listing.calendar .flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
ul.listing.calendar .icon {
  font-family: "icomoon";
  font-size: 1.25em;
  margin-left: 0.5em;
  color: var(--text);
  border-radius: 50%;
  padding: 4px;
}
ul.listing.calendar .icon:hover {
  background-color: var(--hover-background-color);
  outline: 7px solid var(--hover-background-color);
}
ul.listing.groups {
  padding: 1em 2em;
}
ul.listing.groups li {
  display: flex;
  gap: 1em;
  border: none;
  margin-top: 2em;
}
ul.listing.groups li:first-child {
  margin-top: 0;
}

.hightlight {
  background-color: #FFC72C80 !important;
  box-shadow: 0 0 1px red;
}

.poll {
  padding: 0.5em 2em;
}
.poll.list-text {
  margin: 0 !important;
  line-height: 0.6;
}
.poll__bar {
  border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  background-color: var(--brand10);
  position: relative;
  margin-bottom: 10px;
}
.poll__bar__progress {
  background-color: var(--brand20);
  height: 40px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  position: relative;
}
.poll__bar__label {
  position: absolute;
  top: 0;
  padding: 1em;
}
.poll__bar__value {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
}
.poll__bar.winner {
  font-weight: 600;
}
.poll__bar.winner .poll__bar__progress {
  background-color: var(--brand40);
}

.buttons {
  margin: 1em 0;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 1em 1.75em;
  font-size: 1em;
  font-weight: 500;
  border-radius: var(--border-radius);
  font-family: var(--theme-font);
}
.btn.btn-brand {
  background-color: var(--brand);
  color: var(--brand-contrast-text);
}
.btn.btn-brand:hover {
  background-color: var(--brand-dark);
}
.btn.btn-brand-complement {
  background-color: var(--brand-complement);
  color: var(--brand-complement-contrast-text);
}
.btn.btn-brand-complement:hover {
  background-color: var(--brand-complement-dark);
}

.inlagg__chips {
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inlagg__chips__chip {
  display: flex;
  align-items: center;
  gap: 8px;
}
.inlagg__chips__chip .likes-circle {
  fill: var(--brand);
}
.inlagg__chips__chip .likes-thumb {
  fill: #fff;
}

.inlagg__buttons {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 1px solid var(--border-color);
}
.inlagg__buttons button {
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  flex-grow: 1;
  background-color: transparent;
  padding: 1em 0;
}
.inlagg__buttons button:hover {
  background-color: var(--hover-background-color);
}
.inlagg__buttons button:nth-child(2) {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.inlagg__buttons button .flex {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.inlagg__buttons button svg {
  stroke: currentColor;
}

.sidenav {
  background-color: var(--card-background);
}
.sidenav p {
  padding: 1rem 2rem;
  border-bottom: 6px solid var(--brand);
}
.sidenav ul {
  margin: 0;
  padding: 0;
}
.sidenav ul li {
  list-style-type: none;
  display: list-item;
  position: relative;
}
.sidenav ul li a {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: #2c2f34;
  display: flex;
  height: 50px;
  padding: 0 50px 0 2em;
  position: relative;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease;
}
.sidenav ul li a:hover {
  background-color: var(--hover-background-color);
}
.sidenav ul li button {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  font-family: "icomoon";
  transition: all 0.3s ease;
}
.sidenav ul li button span {
  transform: rotate(-90deg);
  transition: all 0.3s ease;
  text-align: center;
}
.sidenav ul li button:hover {
  background-color: var(--hover-background-color);
}
.sidenav ul li.expanded button span {
  transform: rotate(0deg);
}
.sidenav ul li ul:not(.expanded) {
  display: none;
}
.sidenav ul li ul li a {
  padding-left: 3em;
}

.profile-image-medium {
  margin-top: 3px;
  width: 32px;
  height: 32px;
  border-radius: var(--profile-image-radius);
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-image-large {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--profile-image-radius);
}

.title {
  font-size: 0.875em;
  padding: 1em 0 0 2em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.title:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--brand);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.list-menu-item {
  font-weight: 500;
}

.list-app-label {
  font-size: 0.875em;
}

.list-title {
  font-size: 1.82em;
  font-weight: 500;
}

.list-section-heading {
  color: var(--text);
  font-size: 1.25em;
  font-weight: 500;
  color: var(--brand);
}

.list-subtitle {
  color: var(--subtitle);
  font-weight: 500;
}
.list-subtitle a:link:hover {
  color: var(--link);
  text-decoration: underline;
}

.list-lead {
  color: var(--text);
  font-weight: 300;
  font-size: 110%;
  margin: 0.15em 0;
  color: #555;
}

.list-text {
  color: var(--text);
  font-weight: 400;
  margin: 0.15em 0;
}
.list-text a {
  text-decoration: underline;
  color: var(--link);
}

.list-caption {
  color: var(--caption);
  font-size: 0.875em;
  font-weight: 400;
}

.list-overline {
  color: var(--brand);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75em;
}

.list-button {
  text-transform: none;
  font-weight: 500;
}

.list-context-button {
  font-weight: 500;
  font-size: 1em;
  font-family: var(--theme-font);
  color: var(--text);
}

.fancy {
  background-color: #f0f0f0;
  --brand: #472975;
  --brand10:#47297510;
  --brand20:#47297520;
  --brand40:#47297540;
  --brand-dark: #CE984F;
  --brand-contrast-text: #FFB5D4;
  --brand-complement: #FFB5D4;
  --brand-complement-dark: #524a09;
  --brand-complement-contrast-text: var(--brand);
  --border-radius:2px;
  --card-background:#fefefe;
  --profile-image-radius: 50%;
  --theme-font: "Fira Sans";
  --header-background-color:#FFB5D4;
  --header-text-color:var(--brand);
  --hover-background-color: var(--brand10);
  --footer-background-color:var(--brand);
  --footer-text-color:#E7ECE8;
  font-family: var(--theme-font);
}
.fancy .logo {
  font-family: "Merriweather";
}
.fancy .list-title {
  font-family: "Merriweather";
  font-weight: 600;
  margin: 0.25em 0;
}
.fancy .list-subtitle {
  font-family: "Merriweather";
  font-size: 1.1sem;
}
.fancy .list-section-heading {
  font-family: "Merriweather";
}
.fancy .list-lead {
  font-size: 120%;
  font-weight: 300;
}
.fancy .list-text {
  font-weight: 400;
}
.fancy .list-caption {
  color: #303626;
  font-weight: 300;
}
.fancy .list-overline {
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1em;
  text-transform: uppercase;
}

.sitevision {
  --brand: #17CC78;
  --brand10: #17CC7810;
  --brand20: #17CC7820;
  --brand40: #17CC7840;
  --brand-dark:hsl(152, 80%, 37%);
  --brand-complement:#824FFA;
  --brand-complement-dark: hsl(258, 94%, 57%);
  --brand-contrast-text: #e7faf1;
  --brand-complement-contrast-text: #f2edfe;
  --border-radius:18px;
  --link: #824FFA;
  --box-shadow: 3px 3px 3px rgba(100,100,100,.126);
  --profile-image-radius: 12px;
  --theme-font: "Inter";
  --header-background-color:#EB3366;
  --header-text-color:#FBD6E0;
  --footer-background-color:var(--brand-complement);
  --footer-text-color:var(--brand-complement-contrast-text);
  font-family: var(--theme-font);
}
.sitevision .list-title {
  font-family: "Frank Ruhl libre";
  font-weight: 200;
}
.sitevision .list-subtitle {
  font-weight: 200;
  font-family: "Frank Ruhl libre";
}
.sitevision .list-menu-item {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
}
.sitevision .list-section-heading {
  font-family: "Inter";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.875em;
}
.sitevision .list-text {
  font-weight: 300;
  font-family: "Frank Ruhl libre";
}
.sitevision .list-caption {
  color: #666;
  font-weight: 400;
  font-family: "Inter";
}
.sitevision .list-overline {
  font-family: "Inter";
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sitevision .list-button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.quicksand {
  --brand: #ff7b00;
  --brand10:#ff7b0010;
  --brand20:#ff7b0020;
  --brand40:#ff7b0040;
  --brand-dark: #0b5a56;
  --brand-complement:#0e1d36;
  --brand-contrast-text: #0e1d36;
  --border-radius:10px;
  --box-shadow: 3px 3px 3px rgba(100,100,100,.126);
  --profile-image-radius: 12px;
  --header-background-color:#0e1d36;
  --header-text-color:#ff7b00;
  --theme-font: "Quicksand";
  font-family: var(--theme-font);
  --footer-background-color:var(--brand);
}
.quicksand .list-title {
  font-weight: 300;
}
.quicksand .list-subtitle {
  font-weight: 700;
}
.quicksand .list-text {
  font-weight: 400;
}
.quicksand .list-caption {
  color: #5f0d0d;
  font-weight: 400;
}
.quicksand .list-overline {
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.roboto {
  --brand: #924642;
  --brand-dark: hsl(3, 38%, 34%);
  --brand10:#92464210;
  --brand20:#92464220;
  --brand40:#92464240;
  --brand-complement:#F4EFF4;
  --brand-complement-dark:hsl(300, 19%, 87%);
  --brand-complement-contrast-text: var(--brand);
  --brand-contrast-text: #FCEDEA;
  --border-radius:10px;
  --box-shadow: 3px 3px 3px rgba(100,100,100,.126);
  --profile-image-radius: 12px;
  --theme-font: "Roboto";
  font-family: var(--theme-font);
  background-color: #FCEDEA;
  --header-background-color:var(--brand);
  --header-text-color:#FBD6E0;
  --card-background:#FEF9F7;
  --hover-background-color:#92464210;
}
.roboto .list-title {
  font-size: 300%;
  font-weight: 700;
  line-height: 1.1;
  margin: 1rem 0;
  font-family: "Roboto Slab";
}
.roboto .list-subtitle {
  font-weight: 500;
}
.roboto .list-menu-item {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: "Roboto Slab";
}
.roboto .list-section-heading {
  font-family: "Roboto Slab";
}
.roboto .list-text {
  font-weight: 400;
}
.roboto .list-caption {
  font-weight: 400;
}
.roboto .list-overline {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: "Roboto Slab";
}
.roboto .list-button {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  font-family: "Roboto Slab";
}

.raleway {
  background-color: #E8EAED;
  --brand: #6B38BA;
  --brand10:#6B38BA10;
  --brand20:#6B38BA20;
  --brand40:#6B38BA40;
  --brand-contrast-text: #E4D8F7;
  --brand-complement:#E4D8F7;
  --brand-complement-contrast-text:var(--brand);
  --border-radius:4px;
  --box-shadow: 3px 3px 3px rgba(100,100,100,.126);
  --profile-image-radius: 12px;
  --theme-font: "Raleway";
  font-family: var(--theme-font);
}
.raleway .list-title {
  font-family: "Playfair Display";
  font-weight: 300;
}
.raleway .list-subtitle {
  font-weight: 600;
}
.raleway .menuitem a {
  font-family: "Playfair Display";
}
.raleway .list-text {
  font-weight: 300;
  font-family: "Playfair Display";
}
.raleway .list-caption {
  color: #4d4242;
  font-weight: 400;
  font-family: "Playfair Display";
}
.raleway .list-overline {
  font-family: "Playfair Display";
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.browser {
  --brand: #2C3C4F;
  --brand10:#2C3C4F10;
  --brand20:#2C3C4F20;
  --brand40:#2C3C4F40;
  --brand-complement:#00BAA0;
  --brand-dark:darkblue;
  --brand-contrast-text: lightblue;
  --text:#000;
  --brand-complement-contrast-text: rgb(0, 0, 0);
  --border-radius:4px;
  --box-shadow: 3px 3px 3px #193d1e10;
  --profile-image-radius: 12px;
  --hover-background-color:var(--brand10);
  --card-background:#ffffff;
  --theme-font: "sans-serif";
  --header-background-color:#F4BA5D;
  --header-text-color: #2C3C4F;
  --footer-background-color:#00BAA0;
  --footer-text-color:#bcfcf3;
  font-family: var(--theme-font);
  background-color: var(--brand10);
}
.browser .list-title {
  font-family: "serif";
  font-weight: 300;
}
.browser .list-subtitle {
  font-weight: 600;
  font-family: sans-serif;
}
.browser .list-menu-item, .browser .list-app-label {
  font-family: sans-serif;
}
.browser .menuitem a {
  font-family: "sans-serif";
}
.browser .list-text {
  font-weight: 300;
  font-family: "serif";
}
.browser .list-caption {
  color: #4d4242;
  font-weight: 400;
  font-family: "sans-serif";
}
.browser .list-overline {
  font-family: "serif";
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.code {
  --brand: #242424;
  --brand10:#44444410;
  --brand20:#44444420;
  --brand40:#44444440;
  --brand-complement: #444445;
  --brand-dark: #0b5a56;
  --brand-contrast-text: #f1f1f1;
  --border-color: #ddd;
  --border-radius:0;
  --box-shadow: 0 0 6px rgba(0,0,0,.26);
  --profile-image-radius: 0;
  --theme-font: "Inconsolata";
  --text: #222;
  --dark-text: #bbb;
  font-family: var(--theme-font);
  background-color: #fff;
  --header-background-color:#444;
  --header-text-color:#999;
  --hover-background-color:#f7f7f7;
}
.code .list-lead {
  font-size: 0.875em;
}
.code .list-caption {
  color: #888;
}
.code .list-overline {
  color: #301c30;
}

.dark {
  --brand: #1BDFCB;
  --brand-dark:#18C7B5;
  --brand-complement-dark:#B489E8;
  --brand10: #1BDFCB10;
  --brand20: #1BDFCB20;
  --brand40: #1BDFCB40;
  --brand-complement:#C495FD;
  --brand-contrast-text: #000600;
  --brand-complement-contrast-text: var(--brand-contrast-text);
  --border-color: #363636;
  --hover-background-color:#21212150;
  --border-radius:4px;
  --box-shadow: 0 0 6px rgba(0,0,0,.126);
  --profile-image-radius: 12px;
  --theme-font: "Mada";
  --card-background: #2E2E2E;
  --text: #E3E3E3;
  --dark-text: #999999;
  --header-background-color: #272727;
  --footer-background-color: var(--brand-complement);
  --header-text-color:var(--text);
  --footer-text-color: var(--brand-contrast-text);
  font-family: var(--theme-font);
  background-color: #212121;
  color: #E3E3E3;
}
.dark img {
  opacity: 0.75;
}
.dark aside {
  background-color: #111;
}
.dark .list-subtitle {
  color: var(--text);
}
.dark .list-section-heading {
  color: var(--brand);
}
.dark .list-lead {
  color: var(--text);
}
.dark .list-text {
  color: var(--text);
}
.dark .list-caption {
  color: #E3E3E360;
}
.dark .list-overline {
  color: var(--brand);
}
.dark .menuitem a, .dark .menuitem button {
  color: var(--text);
}

.examples {
  height: 400px;
}
.examples p:hover {
  cursor: help;
}

.dark, .raleway, .oswald, .quicksand, .sitevision, .fancy, .code, .roboto {
  transition: all 0.5s;
}

.feedAndGroups {
  display: flex;
  gap: 2em;
}

.newsAndBlock {
  display: flex;
  gap: 2em;
}
.newsAndBlock .card {
  width: 70%;
  flex-grow: 2;
}
.newsAndBlock .brandBlock {
  border-radius: var(--border-radius);
  width: 50%;
  flex-grow: 1;
  padding: 2.5em 2em 1em 2em;
  background-color: var(--brand);
}
.newsAndBlock .brandBlock .symbol {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.newsAndBlock .brandBlock svg {
  fill: var(--brand-contrast-text);
  margin: 0 auto;
}
.newsAndBlock .brandBlock .list-text, .newsAndBlock .brandBlock .list-title, .newsAndBlock .brandBlock .list-overline {
  color: var(--brand-contrast-text);
}
.newsAndBlock .brandBlock .list-title {
  margin-bottom: 0.25em;
}

label, legend {
  font-family: "Inconsolata";
}/*# sourceMappingURL=list.css.map */